/*shimon kaldearo 318643368
  chen yakov 209382779*/


.element {
    background-image: url("./AS324583.jpeg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  